h1{
    color: blue;text-align: center;margin: 0px;background-color: blueviolet;
}
h2{
    color: aqua; text-align: end;padding: 20px;margin: 50px;
}


#hello{
    display:flex;
    flex-wrap: wrap;
}
#hello>div{
    color: brown;
    background-color:rgb(67, 54, 209);
    padding: 20px;
    margin: 20px;
    width: 200px;
}

